/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

/*.container img {
  object-fit: contain;
} */

/*.container img {
  width: 70%;
}*/



.container {
    width: 100%; /* Ensures the container itself takes full width */
    text-align: center; /* Centers the content inside the container */
}

.container img {
    width: 100%; /* Makes the image take up full width of its container */
    max-width: 600px; /* Sets a maximum width to prevent it from getting too large on larger screens */
    height: auto; /* Maintains the aspect ratio */
}




/* Header Styles */
header {
    background-color: #ffffff; /* Solid color background for header */
    padding: 20px 0;
    text-align: left;
}

.logo {
    width: 150px; /* Adjust logo size */
    height: auto;
}

/* Navigation Styles */
nav {
    background-color: #777777;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #1abc9c;
    border-radius: 5px;
}

/* Section Styles */
section {
    padding: 40px 20px;
    margin: 20px 0;
}

h1, h2 {
    color: #2c3e50;
}

ul {
    padding-left: 20
